
/*
Hecho por: Manuel Romo López
ID: 00000253080
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(34, 41, 115);
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
}

footer{
    background-color: rgb(166, 199, 242);
    text-align: center;
    padding: 3% 0;
    margin-top:2%;
    font-weight: 700;
    clear:both;
    border-width: 2% 0;
    border-style: solid none;
    border-color: white;
}

nav{
    margin: 2% 0;
    text-align: center;
    background-color: rgb(175, 183, 205);
    display: block;
    font-size: 1.2em;
}

nav a{
    color:inherit;
    font-weight: 600;
    text-decoration: none;
}

nav li{
    list-style-type: none;
    display:inline-block;
    background-color: rgb(51, 56, 90);
    padding: 1% 2%;
    margin:0 1%;
    color:white;
}

nav li:hover{
    background-color: white;
    color:black;
}

span{
    font-style: italic;
    font-weight: 700;
}

::selection{
    background-color: rgb(20, 19, 41);
    color:white;
}

#portada_curriculum{
    margin: auto;
    width: 50%;
    border: 5px solid rgb(154, 176, 197);
    text-align: justify;
    display:flex;
}

#seccion_perfil{
    text-align: center;
}

#seccion_perfil a{
    text-decoration: none;
    color:rgb(76, 107, 209);
}

#seccion_perfil_semblanza_idiomas{
    background-color: rgb(255, 255, 255);
}

#seccion_laboral_educacion{
    background-color: rgb(206, 231, 235);
}

#seccion_laboral_educacion, #seccion_perfil_semblanza_idiomas{
    padding: 2% 2% 2% 2%;
    box-sizing: border-box;
    float:left;
    width: 50%;
}

#main_intereses{
    text-align: center;
    margin-top: 5%;
}

#main_intereses h2{
    color:white;
}


#articulo_intereses{
    margin:auto;
    text-align: justify;
    display:flex;
}

#seccion_intereses_personales{
    background-color: rgb(182, 185, 218);
    margin-right: 1%;
    margin-left: 5%;
}

#seccion_intereses_personales h3{
    text-align: center;
}

#seccion_intereses_profesionales{
    background-color: rgb(255, 255, 255);
    margin-right: 5%;
    margin-left: 1%;
}

#seccion_intereses_personales, #seccion_intereses_profesionales{
    padding: 1%;
    float:left;
    width: 50%;
    box-sizing: border-box;
    border:10px ridge rgb(241, 241, 241);

}

#seccion_intereses_profesionales h3{
    text-align: center;
}

#articulo_horario{
    margin-top: 2%;
    text-align:center;
}

#articulo_horario h2{
    color:rgb(241, 240, 240);
}

#articulo_horario table{
    margin:auto;
    border-collapse: collapse;
    font-weight: 600;
}

#articulo_horario th{
    border: 2px solid rgb(162, 162, 202);
    background-color: rgb(41, 45, 67);
    color:#eaf1f1;
}

#articulo_horario td{
    border: 2px solid rgb(168, 168, 197);
}

.td_ingenieria_requisitos{
    background-color: rgb(207, 198, 175);
}

.td_arquitectura_software{
    background-color: rgb(234, 184, 150);
}

.td_aplicaciones_web{
    background-color: rgb(182, 251, 152);
}

.td_administracion_proyectos_software{
    background-color: rgb(232, 153, 153);
}

.td_metodos_numericos{
    background-color: rgb(241, 219, 74);
}

.td_disenio_sistemas_interactivos{
    background-color: rgb(125, 155, 70);
}

.td_hora{
    background-color: rgb(73, 73, 66);
    color:#e6eded;
}

.td_vacio{
    background-color: rgb(248, 248, 247);
} 